:root{
    --mainColor:  #020111;
    --mainText: #E91E07;
}

body {
    background-color: var(--mainColor);
    font-family: 'Fjalla One', sans-serif;
    color: var(--mainText);
}
.navbar {
    background-color: var(--mainColor);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
div {
    margin: 5px;
}
.dexDisplay {
    margin: 15vh;
}