:root{
    --mainColor:  #ACC8E5;
    --mainText: #112A46;
}

body {
    background-color: var(--mainColor);
    font-family: 'Fjalla One', sans-serif;
    color: var(--mainText);
}
button{
    cursor: pointer;
}
.navbar {
    background-color: var(--mainText);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
div {
    margin: 5px;
}
.pokeImage {
    width: 200px;
}
.container-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.dexDisplay {
    margin: 5vh;
    font-size: 1.5rem;
    grid-column: span 3;
}
.dexDisplayTwo {
    margin: 5vh;
    font-size: 1.5rem;
    grid-column: span 3;
}